//////////////////////////////////////  
///// COLOR SCHEME & MIXINS
$color-primary-dark: hsl(257, 40%, 49%);
$color-primary-light: hsl(300, 69%, 71%);
$color-primary-light2: hsl(320, 80%, 60%);

@mixin media($breakpoint) {
    @if $breakpoint == tabletLandscape {
        @media (max-width: 1206px) { @content };
    }

    @if $breakpoint == tabletPortrait {
        @media (max-width: 1033px) { @content };
    }

    @if $breakpoint == mobile {
        @media (max-width: 810px) { @content };
    }
}

//////////////////////////////////////  
///// UNIVERSAL BASIC RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//////////////////////////////////////  
///// HTML & BODY LAYOUT
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px,   10px/16px = 62.5

    @include media(tabletLandscape) {
        font-size: 53.5%;
    }

    @include media(tabletPortrait) {
        font-size: 47.5%;
    }

    @include media(mobile) {
        font-size: 52.5%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem; //16px font size
    background-color: $color-primary-dark;
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

    @include media(mobile)  {
        background-image: url(images/bg-mobile.svg);
        background-size: cover;
        overflow: auto;
        height: min-content;
    }
}

//////////////////////////////////////  
///// LOGO SECTION
.logo {
    padding: 5rem 8rem 0;

    svg {
        width: 23rem;
    }
}

//////////////////////////////////////  
///// CONTAINER SECTION
.container {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 8rem 8rem 0;

    @include media(mobile)  {
        flex-direction: column;
        margin: 0 8rem;
    }

    &__col1 {
        width: 55%;

        @include media(mobile) {
            width: 100%;
            height: 50%;
        }

        &--img {
            width: 100%;
        }
    }
    
    &__col2 {
        width: 45%;
        margin-left: 5.5rem;

        @include media(mobile) {
            width: 100%;
            text-align: center;
            margin: 0;
        }

        &--heading {
            font-size: 4rem;
            letter-spacing: .1rem;
        }

        &--text {
            margin-top: 4rem;
            font-size: 1.8rem;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5;

            @include media(mobile) {
                font-size: 2.2rem;
                line-height: 1.7;
                opacity: 1;
            }
        }
    }
}

//////////////////////////////////////  
///// BUTTON SECTION
.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        background-color: #fff;
        padding: 1.5rem 7rem;
        border-radius: 10rem;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-size: 1.8rem;
        color: $color-primary-dark;
        margin-top: 2.5rem;
        box-shadow: 0rem 0.5rem 1.5rem 0 rgba(0,0,0,.4);

        transition: all .3s;

        @include media(mobile) {
            padding: 1.5rem 12rem;
        }
    }

    &:hover {
        transform: translateY(-.75rem);
        color: #fff;
        box-shadow: 0rem 1rem 2rem 0 rgba(0,0,0,.6);
    }
}

//////////////////////////////////////  
///// SOCIALS SECTION
.socials { 
    position: absolute;
    bottom: 4rem;
    right: 8rem;

    @include media(mobile) {
        position: relative;
        right: auto;
        bottom: auto;
        display: flex;
        justify-content: center;
        margin: 6rem auto;
    }

    &__icons {
        height: 4rem;
        width: 4rem;
        padding: 1rem;
        border-radius: 50%;
        border: 1px solid #fff;
        fill: #fff;
        overflow: visible;
        cursor: pointer;

        transition: all .3s;
        
        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        &:hover {
            fill: $color-primary-light;
            border-color: $color-primary-light;
        }
    }
}

//////////////////////////////////////  
///// ANIMATIONS SECTION
.gradient {
    animation: gradient 6s ease infinite;
    background-image: linear-gradient(124deg, #fff, $color-primary-light, $color-primary-light2);
    background-size: 800% 800%
}

@keyframes gradient {
    0% {
        background-position: 1% 80%
    }
    50% {
        background-position: 99% 20%
    }
    100% {
        background-position: 1% 80%
    }
}