*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 1206px) {
  html {
    font-size: 53.5%;
  }
}

@media (max-width: 1033px) {
  html {
    font-size: 47.5%;
  }
}

@media (max-width: 810px) {
  html {
    font-size: 52.5%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  background-color: #674baf;
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 810px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-size: cover;
    overflow: auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.logo {
  padding: 5rem 8rem 0;
}

.logo svg {
  width: 23rem;
}

.container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem 8rem 0;
}

@media (max-width: 810px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 8rem;
  }
}

.container__col1 {
  width: 55%;
}

@media (max-width: 810px) {
  .container__col1 {
    width: 100%;
    height: 50%;
  }
}

.container__col1--img {
  width: 100%;
}

.container__col2 {
  width: 45%;
  margin-left: 5.5rem;
}

@media (max-width: 810px) {
  .container__col2 {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.container__col2--heading {
  font-size: 4rem;
  letter-spacing: .1rem;
}

.container__col2--text {
  margin-top: 4rem;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

@media (max-width: 810px) {
  .container__col2--text {
    font-size: 2.2rem;
    line-height: 1.7;
    opacity: 1;
  }
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  background-color: #fff;
  padding: 1.5rem 7rem;
  border-radius: 10rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #674baf;
  margin-top: 2.5rem;
  -webkit-box-shadow: 0rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 810px) {
  .btn, .btn:link, .btn:visited {
    padding: 1.5rem 12rem;
  }
}

.btn:hover {
  -webkit-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
  color: #fff;
  -webkit-box-shadow: 0rem 1rem 2rem 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0rem 1rem 2rem 0 rgba(0, 0, 0, 0.6);
}

.socials {
  position: absolute;
  bottom: 4rem;
  right: 8rem;
}

@media (max-width: 810px) {
  .socials {
    position: relative;
    right: auto;
    bottom: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 6rem auto;
  }
}

.socials__icons {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #fff;
  fill: #fff;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.socials__icons:not(:last-child) {
  margin-right: 1.5rem;
}

.socials__icons:hover {
  fill: #e882e8;
  border-color: #e882e8;
}

.gradient {
  -webkit-animation: gradient 6s ease infinite;
          animation: gradient 6s ease infinite;
  background-image: linear-gradient(124deg, #fff, #e882e8, #eb47b4);
  background-size: 800% 800%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}

@keyframes gradient {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}
/*# sourceMappingURL=styles.css.map */