//////////////////////////////////////
///// HEADING STYLING
.heading-1 {
   font-family: $ff-secondary;
   color: $clr-white;
   font-size: 4rem;
   text-transform: uppercase;
   letter-spacing: 0.75rem;

   @include media(medium) {
      font-size: 4.75rem;
   }

   @include media(large) {
      font-size: 5.5rem;
      font-weight: 900;
   }
}

.heading-2 {
   font-family: $ff-secondary;
   color: $clr-neutral-100;
   font-size: 3.5rem;

   @include media(medium) {
      font-size: 3.75rem;
      font-weight: 900;
   }

   @include media(large) {
      font-size: 4rem;
   }
}

.heading-3 {
   font-family: $ff-secondary;
   font-size: 3rem;
}

.heading-4 {
   font-family: $ff-secondary;
   color: $clr-neutral-400;
   text-transform: uppercase;
   letter-spacing: 0.4rem;

   @include media(medium) {
      font-size: 1.9rem;
      font-weight: 900;
   }

   @include media(large) {
      font-size: 2rem;
   }
}

//////////////////////////////////////
///// PARAGRAPH STYLING
.text-1 {
   color: $clr-neutral-300;
   font-size: 1.8rem;
   line-height: 1.6;

   @include media(large) {
      line-height: 1.7;
   }
}

.text-2 {
   font-size: 1.7rem;
   line-height: 1.6;
}

.text-3 {
   color: $clr-neutral-200;
   font-size: 1.9rem;
   line-height: 1.6;
}
