@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

//////////////////////////////////////  
///// COLOR SCHEME
$color-primary-1: hsl(6, 100%, 80%);
$color-primary-2: hsl(335, 100%, 65%); 

$color-neutral-light-1: hsl(243, 100%, 93%);
$color-neutral-light-2: hsl(229, 7%, 55%);
$color-neutral-dark-1: hsl(228, 56%, 26%);
$color-neutral-dark-2: hsl(229, 57%, 11%);

$color-white: hsl(0, 0%, 100%);


//////////////////////////////////////  
///// MIXINS MEDIA QUERY MANAGER
@mixin media($breakpoint) {
    @if $breakpoint == desktop {
        @media (min-width: 59.375em) { @content }; //950px / 16 = 59.375em
    }
}


//////////////////////////////////////  
///// UNIVERSAL BASIC RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


//////////////////////////////////////  
///// BASE LAYOUT
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px,   10px/16px = 62.5
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem; // ### Body Copy - Font size: 14px
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url(../images/bg-mobile.png);
    background-size: 100%;

    @include media(desktop) {
        background: url(../images/bg-desktop.png), $color-neutral-dark-2;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100vw 50vh;
    }
}


//////////////////////////////////////  
///// CONTAINER SECTION
.container {
    @include media(desktop) {
        display: flex;
    }
}


//////////////////////////////////////  
///// FYLO SECTION
.fylo {
    background-color: $color-neutral-dark-1;
    height: 20rem;
    width: 32.5rem;
    border-radius: 1rem;
    border-top-right-radius: 10rem;
    padding: 4rem;

    @include media(desktop) {
        width: 35rem;
        margin-right: 3rem;
    }

    &__icon-box {
        display: flex;
        margin-top: 3rem;
    }

    &__icons {
        background-color: $color-neutral-dark-2;
        border-radius: 1rem;
        height: 4.7rem;
        width: 4.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;

        &:hover,
        &:focus {
            opacity: .75;
            transition: all .25s;
        }
    }
}


//////////////////////////////////////  
///// STORAGE SECTION
.storage {
    margin-top: 2rem;
    background-color: $color-neutral-dark-1;
    border-radius: 1rem;
    padding: 3.5rem;

    position: relative;

    @include media(desktop) {
        height: 15rem;
        width: 54rem;
        align-self: flex-end;
    }

    &__text {
        color: $color-neutral-light-1;
        text-align: center;

        @include media(desktop) {
            text-align: left;
            margin-top: .5rem;
        }

        span {
            color: $color-white;
            font-weight: 700;
        }
    }

    &__progress { 
        padding: .3rem;
        border-radius: 3rem;
        background: rgba(0, 0, 0, .275);
        margin-top: 1.5rem;

        &-bar {
            height: 1.5rem;
            border-radius: 3rem;
            background-image: linear-gradient(to right, $color-primary-1, $color-primary-2);
            width: 81.5%;

            position: relative;

            transition: .4s linear;
            transition-property: width, background-color;

            &--dot {
                height: 1.1rem;
                width: 1.1rem;
                background-color: $color-white;
                border-radius: 100%;

                position: absolute;
                top: .2rem;
                right: .2rem;
            }
        }
    }

    &__limit {
        color: $color-white;
        font-weight: 700;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    &__bubble {
        height: 7rem;
        width: 18rem;
        background-color: $color-white;
        border-radius: 1rem;

        position: absolute;
        bottom: -3.5rem;
        left: 7.25rem;

        @include media(desktop) {
            top: -4.5rem;
            left: 32rem;
            border-bottom-right-radius: 0;

            &::after {
                content: '';
                position: absolute;
                border: 2.5rem solid transparent;
                border-top-color: $color-white;
                border-right: 0;
                margin-left: -1rem;
                margin-bottom: -2rem;
                bottom: -3rem;
                right: 0;
            }
        }


        &--text {
            font-size: 1.3rem;
            text-transform: uppercase;
            color: $color-neutral-light-2;
            font-weight: 700;

            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1.15rem;

            span {
                font-size: 4rem;
                color: $color-neutral-dark-2;
                margin-right: 1rem;
            }
        }
    }

}


//////////////////////////////////////  
///// ANIMATION & KEYFRAMES
.progressAnimation {
    animation: progressAnimation 2.5s;
}

@keyframes progressAnimation {
    0% {
        width: 5%;
    }
    100% {
        width: 81.5%;
    }
}


//////////////////////////////////////  
///// ATTRIBUTION SECTION
.attribution {
    margin-top: 5rem;
    @include media(desktop) {
        margin-top: 2rem;
    }
     a {
        background: linear-gradient(to right, $color-primary-1, $color-primary-2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
}