@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/bg-mobile.png);
  background-size: 100%;
}

@media (min-width: 59.375em) {
  body {
    background: url(../images/bg-desktop.png), #0c122c;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw 50vh;
  }
}

@media (min-width: 59.375em) {
  .container {
    display: flex;
  }
}

.fylo {
  background-color: #1d2c67;
  height: 20rem;
  width: 32.5rem;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  padding: 4rem;
}

@media (min-width: 59.375em) {
  .fylo {
    width: 35rem;
    margin-right: 3rem;
  }
}

.fylo__icon-box {
  display: flex;
  margin-top: 3rem;
}

.fylo__icons {
  background-color: #0c122c;
  border-radius: 1rem;
  height: 4.7rem;
  width: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.fylo__icons:hover, .fylo__icons:focus {
  opacity: .75;
  transition: all .25s;
}

.storage {
  margin-top: 2rem;
  background-color: #1d2c67;
  border-radius: 1rem;
  padding: 3.5rem;
  position: relative;
}

@media (min-width: 59.375em) {
  .storage {
    height: 15rem;
    width: 54rem;
    align-self: flex-end;
  }
}

.storage__text {
  color: #dddbff;
  text-align: center;
}

@media (min-width: 59.375em) {
  .storage__text {
    text-align: left;
    margin-top: .5rem;
  }
}

.storage__text span {
  color: white;
  font-weight: 700;
}

.storage__progress {
  padding: .3rem;
  border-radius: 3rem;
  background: rgba(0, 0, 0, 0.275);
  margin-top: 1.5rem;
}

.storage__progress-bar {
  height: 1.5rem;
  border-radius: 3rem;
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  width: 81.5%;
  position: relative;
  transition: .4s linear;
  transition-property: width, background-color;
}

.storage__progress-bar--dot {
  height: 1.1rem;
  width: 1.1rem;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: .25rem;
  right: .2rem;
}

.storage__limit {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.storage__bubble {
  height: 7rem;
  width: 18rem;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  bottom: -3.5rem;
  left: 7.25rem;
}

@media (min-width: 59.375em) {
  .storage__bubble {
    top: -4.5rem;
    left: 32rem;
    border-bottom-right-radius: 0;
  }
  .storage__bubble::after {
    content: '';
    position: absolute;
    border: 2.5rem solid transparent;
    border-top-color: white;
    border-right: 0;
    margin-left: -1rem;
    margin-bottom: -2rem;
    bottom: -3rem;
    right: 0;
  }
}

.storage__bubble--text {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #848794;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.15rem;
}

.storage__bubble--text span {
  font-size: 4rem;
  color: #0c122c;
  margin-right: 1rem;
}

.progressAnimation {
  animation: progressAnimation 2.5s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
  }
  100% {
    width: 81.5%;
  }
}

.attribution {
  margin-top: 5rem;
}

@media (min-width: 59.375em) {
  .attribution {
    margin-top: 2rem;
  }
}

.attribution a {
  background: linear-gradient(to right, #ffa399, #ff4d97);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=main.css.map */