//////////////////////////////////////
///// HEADING STYLING
%heading {
   color: $clr-neutral-200;
   font-weight: 600;
   margin-bottom: 2rem;
}

.heading-1 {
   @extend %heading;
   font-size: 3.1rem;
}

.heading-2 {
   @extend %heading;
   font-size: 2.7rem;
}

.heading-3 {
   @extend %heading;
   font-size: 2.4rem;
   margin-bottom: 1rem;
}

//////////////////////////////////////
///// PARAGRAPH STYLING
%text {
   color: $clr-neutral-100;
   font-weight: 400;
   line-height: 1.7;
}

.text-1 {
   @extend %text;
   font-size: 1.7rem;
}

.text-2 {
   @extend %text;
   font-size: 1.6rem;
}
