.about {
  padding: 13rem 3rem;
  display: flex;
  flex-direction: column;

  @include media(large) {
    flex-direction: row;
    padding: 13rem 10.5rem;
  }

  &__img {
    width: 100%;
    max-width: 50rem;
    margin-bottom: 4rem;
    align-self: center;

    @include media(large) {
      max-width: 62rem;
    }
  }

  &__content {
    @include media(medium) {
      padding: 5rem 8rem 5rem;
      text-align: center;
    }

    @include media(large) {
      padding: 11.5rem 0 0 6rem;
      text-align: left;
    }
  }

  h3 {
    margin-bottom: 2.5rem;

    @include media(large) {
      margin-bottom: 2rem;
      padding-right: 6rem;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 0.5rem;
    border-bottom: 1px solid $color-accent-light;
    width: 15rem;
    padding-bottom: 0.5rem;

    font-size: 1.3rem;

    @include media(medium) {
      margin: 0 auto;
      font-size: 1.6rem;
      width: max-content;
    }

    @include media(large) {
      margin: 0;
    }

    &-item {
      color: $color-accent-light;
      text-decoration: none;
    }
  }
}
