.btn {
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  padding: 1.5rem 0;
  width: 75%;
  max-width: 24.5rem;
  background-image: linear-gradient(
    to right,
    $color-accent-light,
    $color-accent-dark
  );
  color: $color-white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(black, 0.25);

  @include media(medium) {
    width: 41.5%;
    max-width: 100%;
  }

  @include media(large) {
    padding: 2rem 0;
    font-size: 1.6rem;
  }
}
