.btn {
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  padding: 1.5rem 0;
  width: 75%;
  max-width: 100%;
  background-image: linear-gradient(
    to right,
    $color-accent-light,
    $color-accent-dark
  );
  color: $color-white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(black, 0.25);

  transition: all 0.25s;

  &:hover {
    background-image: linear-gradient(
      to right,
      $color-accent-hover,
      $color-accent-hover
    );
    transform: translateY(-0.5rem);
    box-shadow: 0 1.5rem 2rem rgba(black, 0.45);

    &:active {
      transform: translateY(0);
      box-shadow: 0 2rem 2rem rgba(black, 0.65);
    }
  }

  @include media(medium) {
    width: 41.5%;
    max-width: 100%;
  }

  @include media(large) {
    padding: 2rem 0;
    font-size: 1.6rem;
  }
}
