.hero {
   
   &__img {
      background-color: $color-primary-intro_email;
      width: 100%;
      padding: 2.5rem 4rem;
      padding-bottom: 10rem;
      background-image: url(../../images/bg-curvy-mobile.svg);
      background-repeat: no-repeat;
      background-position: bottom;
   }

   &__content {
      transform: translateY(-50%);
      text-align: center;
   }
}