.testimonials {
  padding: 4.5rem;
  margin-bottom: 27.5rem;

  position: relative;

  @include media(medium) {
    display: flex;
    gap: 4rem;
    padding: 0 7rem;
  }

  @include media(large) {
    padding: 0 14rem;
  }
}

.testimonial {
  background-color: $color-primary-testimonial;
  padding: 3rem 1.75rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.5rem rgba(rgb(255, 255, 255), 0.025);
  position: relative;
  z-index: 2;

  @include media(large) {
    padding: 3.5rem 3rem 3rem;
    box-shadow: 0.7rem 0.7rem 1rem 0.5rem rgba(rgb(255, 255, 255), 0.025);
  }

  &:not(:last-child) {
    margin-bottom: 2.5rem;

    @include media(medium) {
      margin-bottom: 0;
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    width: 2.5rem;
    top: 2.75rem;
    left: 5.25rem;

    @include media(medium) {
      top: -2.5rem;
      left: 6.5rem;
      width: 3.75rem;
    }

    @include media(large) {
      top: -3.5rem;
      left: 13rem;
      width: 5.5rem;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.9;
    margin-bottom: 2rem;

    @include media(medium) {
      font-size: 1.25rem;
    }

    @include media(large) {
      font-size: 1.4rem;
      line-height: 1.6;
    }
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__user-box {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  &__user-title {
    font-size: 0.9rem;
  }
}
