@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

//////////////////////////////////////  
///// COLOR SCHEME & MIXINS

$color-primary-dark: hsl(300, 43%, 22%);
$color-primary-light: hsl(333, 80%, 67%);

$color-neutral-dark: hsl(303, 10%, 53%);
$color-neutral-light: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

@mixin media($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 800px) { @content };
    }
}


//////////////////////////////////////  
///// UNIVERSAL BASIC RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


//////////////////////////////////////  
///// BASE LAYOUT
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px,   10px/16px = 62.5
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image:   url(../images/bg-pattern-top-desktop.svg),
                        url(../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 42%, 80%;

}


//////////////////////////////////////  
///// CONTAINER SECTION
.container {
    margin: 13rem 16rem 10rem;
}

.header {
    display: flex;
    justify-content: space-between;
}


//////////////////////////////////////  
///// CONTENT SECTION
.content {
    flex: 0 1 42%;
    
    &__heading {
        font-size: 5rem;
        color: $color-primary-dark;
        line-height: 1;
        margin-bottom: 1.5rem;
    }

    &__description {
        color: $color-neutral-dark;
        font-weight: 500;
        line-height: 1.6;
    }
}


//////////////////////////////////////  
///// RATINGS SECTION
.ratings {

    &__box {
        display: flex;
        align-items: center;

        background-color: $color-neutral-light;
        width: 44.5rem;
        height: 5.5rem;
        border-radius: .7rem;
        
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &:nth-child(2) {
            margin-left: 5rem;
        }

        &:nth-child(3) {
            margin-left: 10rem;
        }
    }

    &__stars {
        margin: 0 3rem;
    }

    &__star-icon:not(:last-child) {
        margin-right: .3rem;
    }

    &__text {
        color: $color-primary-dark;
        font-weight: 700;
    }
}


//////////////////////////////////////  
///// USER REVIEWS SECTION
.user-reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.review {
    width: 35rem;
    height: 23.5rem;
    background-color: $color-primary-dark;
    border-radius: .7rem;
    padding: 4rem 3.2rem;

    &:nth-child(2) {
        margin-top: 1.6rem;
    }

    &:nth-child(3) {
        margin-top: 3.2rem;
    }

    &__user {
        display: flex;
    }

    &__photo {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
    }

    &__user-box {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__user-name {
        color: $color-white;
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: .3rem;
    }

    &__user-title {
        color: $color-primary-light;
        font-size: 1.3rem;
        opacity: 0.8;
    }

    &__text {
        color: $color-white;
        font-size: 1.3rem;
        margin-top: 3rem;
        line-height: 1.7;
    }
}


//////////////////////////////////////  
///// FOOTER SECTION
.attribution {
    padding-top: 2rem;
    color: $color-primary-dark;
    font-size: 11px;
    text-align: center;
}