.footer {
   grid-column: 1 / -1;
   background-color: $clr-neutral-101;
   display: flex;
   flex-direction: column;
   align-items: center;

   &__logo {
      height: 5.5rem;
      width: 5.5rem;
      margin: 5.5rem 0 4.5rem;
   }

   &__nav {
      &--list {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 2.75rem;
      }

      &--link {
         text-decoration: none;
         color: $clr-neutral-200;
      }
   }

   &__socials {
      padding: 5rem 0;
      display: flex;
      justify-content: space-between;
      width: 40%;

      &--icon {
      }
   }
}
