.footer {
   grid-column: 1 / -1;
   background-color: $clr-neutral-101;
   display: flex;
   flex-direction: column;
   align-items: center;

   position: relative;

   @include media(medium) {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }

   &__logo {
      height: 5.5rem;
      width: 5.5rem;
      margin: 5.5rem 0 4.5rem;
   }

   &__nav {
      @include media(medium) {
         min-width: 57rem;
      }

      &--list {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 2.75rem;

         @include media(medium) {
            flex-wrap: wrap;
            height: 8rem;
            align-items: flex-start;
         }
      }

      &--link {
         text-decoration: none;
         color: $clr-neutral-200;

         transition: all 0.3s;

         &:hover {
            color: $clr-primary-100;
         }

         @include media(medium) {
            margin-right: 7rem;
         }
      }
   }

   &__socials {
      padding: 5rem 0;
      display: flex;
      justify-content: space-between;
      width: 40%;

      &--svg {
         transition: all 0.3s;
         &:hover {
            fill: $clr-primary-100;
         }
      }

      @include media(medium) {
         gap: 2.5rem;
         width: auto;
      }
   }
}

.attribution {
   position: absolute;
   bottom: 0;
}
