.header {
   padding: 12rem 2.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   background-image: url(../images/bg-header-mobile.png);
   background-repeat: no-repeat;
   background-size: 100%;

   grid-column: 1 / -1; // span background image across full screen width

   @include media(medium) {
      background-image: url(../images/bg-header-desktop.png);

      h1,
      p {
         max-width: 70rem;
      }
   }

   &__logo {
      margin-bottom: 6.5rem;
   }

   &__buttons {
      margin-top: 4.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
   }
}
