.footer {
  background-color: $color-primary-footer;
  padding: 25rem 3rem 3rem;

  @include media(medium) {
    padding-left: 12.5rem;
    padding-right: 8rem;
  }

  &__logo {
    margin-bottom: 4rem;
  }

  &__contact {
    @include media(large) {
      display: flex;
      justify-content: space-between;

      & > :first-child {
        max-width: 36rem;
      }
    }
  }

  &__contact-item {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    &:last-child {
      margin-bottom: 8rem;
    }

    @include media(medium) {
      align-items: flex-start;
    }
  }

  &__contact-icon {
    margin-right: 2rem;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;

    @include media(medium) {
      margin-top: 0;
      align-items: flex-start;
    }

    a {
      cursor: pointer;
      margin-right: 1.5rem;

      @include media(medium) {
        margin-right: 0;
        margin-left: 1.5rem;
      }
    }
  }

  &__socials-icon {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    text-align: center;
    color: $color-white;
    border: 1px solid $color-white;
    padding: 0.7rem;
    transition: all 0.25s;

    &:hover {
      color: $color-accent-light;
      border: 1px solid $color-accent-light;
    }
  }
}

footer {
  @include media(medium) {
    margin-top: 6rem;
  }
}
