//////////////////////////////////////
///// HEADER SECTION
.header {
   background: url(../images/mobile/image-header.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: bottom;
   text-align: center;
   position: relative;

   @include media(medium) {
      background: url(../images/desktop/image-header.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: bottom;
      height: 60rem;
   }

   @include media(large) {
      height: 80rem;
   }

   &__hero {
      h1 {
         margin: 5.5rem 0;

         @include media(medium) {
            margin: 5.5rem 0 3rem;
         }

         @include media(large) {
            margin: 7rem 0 0;
         }
      }
   }

   &__hero-arrow {
      display: flex;
      justify-content: center;
      padding-bottom: 13rem;

      @include media(large) {
         position: absolute;
         left: 50%;
         transform: translate(-50%, 45%);
      }
   }
}
