//////////////////////////////////////
///// HEADER SECTION
.header {
   background: url(../../images/mobile/image-header.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom;
   text-align: center;

   &__hero {

      h1 {
         margin: 5.5rem 0;
      }
   }

   &__hero-arrow {
      display: flex;
      justify-content: center;
      padding-bottom: 13rem;
   }
}