@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  min-height: 100vh;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.heading-1 {
  font-family: "Fraunces", sans-serif;
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .75rem;
}

.heading-2 {
  font-family: "Fraunces", sans-serif;
  color: #23303e;
  font-size: 3.5rem;
}

.heading-3 {
  font-family: "Fraunces", sans-serif;
  font-size: 3rem;
}

.heading-4 {
  font-family: "Fraunces", sans-serif;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: .4rem;
}

.text-1 {
  color: #818498;
  font-size: 1.8rem;
  line-height: 1.6;
}

.text-2 {
  font-size: 1.7rem;
  line-height: 1.6;
}

.text-3 {
  color: #5a636c;
  font-size: 1.9rem;
  line-height: 1.6;
}

.features__item {
  padding: 6rem 2.5rem;
  text-align: center;
}

.features__item p {
  margin: 2.5rem 0;
}

.features__learnmore {
  position: relative;
  display: flex;
  justify-content: center;
}

.features__learnmore-link {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  z-index: 2;
}

.features__learnmore-border {
  width: 15rem;
  height: 1rem;
  border-radius: 10rem;
  background-color: #fad400;
  opacity: 0.25;
  position: absolute;
  top: 1.5rem;
  z-index: 1;
}

.features__learnmore-border--red {
  background-color: #fe7867;
}

.features__card {
  min-height: 60rem;
  text-align: center;
  padding: 80vh 1rem 0;
}

.features__card p {
  margin: 3rem 0;
}

.features__card--graphic {
  background: url(../../images/mobile/image-graphic-design.jpg);
  background-size: 100% 100%;
  color: #25564b;
}

.features__card--photography {
  background: url(../../images/mobile/image-photography.jpg);
  background-size: 100% 100%;
  color: #19536b;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.testimonials {
  padding: 6.5rem 2rem;
  text-align: center;
}

.testimonial {
  margin-top: 6.5rem;
  display: flex;
  flex-direction: column;
}

.testimonial__user-photo {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin: 0 auto 3.5rem;
}

.testimonial__user-name {
  font-family: "Fraunces", sans-serif;
  color: #23303e;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 3.5rem;
}

.testimonial__user-title {
  color: #a7abae;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.footer {
  background-color: #91d4c6;
  padding: 0 2rem;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 6.5rem 0 3rem;
}

.footer__logo img {
  width: 17rem;
}

.footer__nav-list {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 8rem;
}

.footer__nav-links {
  text-decoration: none;
  color: #458c7e;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.header {
  background: url(../../images/mobile/image-header.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}

.header__hero h1 {
  margin: 5.5rem 0;
}

.header__hero-arrow {
  display: flex;
  justify-content: center;
  padding-bottom: 13rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2.5rem;
}

.nav__menu-burger div {
  width: 2.5rem;
  height: .2rem;
  background-color: white;
  margin: .6rem;
}

.nav__menu-list {
  visibility: hidden;
  display: flex;
  position: absolute;
}
/*# sourceMappingURL=main.css.map */