@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.heading-1 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 3.4rem;
}

.heading-2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 4rem;
}

.heading-3 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #1f3f5b;
  font-size: 2.8rem;
}

.text-1 {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  font-size: 1.9rem;
}

.text-2 {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #4b5862;
  line-height: 1.8;
}

.text-3 {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  line-height: 1.8;
}

.center-content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: minmax(2.5rem, 1fr) minmax(0, 144rem) minmax(2.5rem, 1fr);
}

.center-content > * {
  grid-column: 2;
}

.stretch-content {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.banner {
  background-image: url("../../images/bg-pattern-circles.svg"), linear-gradient(to right bottom, #2c2d3f, #3f4164);
  background-size: 160%;
  background-position: center 1175%;
  background-repeat: no-repeat;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  position: relative;
  padding: 22rem 0 10rem;
  margin-top: 16rem;
}

.banner__img {
  position: absolute;
  left: -7%;
  top: -31%;
}

.banner__content h2 {
  margin-bottom: 2rem;
}

.btn-white, .btn-outline {
  display: block;
  border: none;
  min-width: 14rem;
  padding: 1.5rem;
  border-radius: 5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.btn-white {
  color: #ff525d;
  background-color: white;
}

.btn-outline {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.features {
  padding: 10rem 0;
}

.features__img {
  padding: 4.5rem 0;
}

.features__content h3 {
  padding: 0 5rem;
  margin-bottom: 2rem;
}

.features__content p:not(:last-child) {
  margin-bottom: 4rem;
}

.features2 {
  padding: 10rem 0;
}

.features2__img {
  padding: 4.5rem 0;
}

.features2__content h3 {
  margin-bottom: 2rem;
}

.features2__content p:not(:last-child) {
  margin-bottom: 4rem;
}

.hero {
  position: relative;
  padding: 5.5rem 0;
  border-bottom-left-radius: 10rem;
  background-image: url("../../images/bg-pattern-intro.svg"), linear-gradient(to right bottom, #ff8f70, #ff3d54);
  background-position: 35% 33.5%;
  background-size: 350%;
}

.hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__nav--logo {
  height: 3.2rem;
}

.hero h1 {
  margin-top: 11rem;
  padding: 0 0.75rem;
}

.hero p {
  margin-top: 1.5rem;
  margin-bottom: 4.5rem;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 10rem;
}
/*# sourceMappingURL=main.css.map */