//////////////////////////////////////  
///// COLOR SCHEME & MIXINS
$color-primary1: hsl(0, 36%, 70%);
$color-primary2: hsl(0, 93%, 68%);

$color-neutral: hsl(0, 6%, 24%);

@mixin gradient1 {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

@mixin gradient2 {
    background: linear-gradient(135deg, hsl(0, 88%, 90%), hsl(0, 64%, 90%));
}

@mixin media($breakpoint) {
    @if $breakpoint == tablet {
        @media (max-width: 1000px) { @content };
    }
    @if $breakpoint == mobile {
        @media (max-width: 650px) { @content };
    }
}

//////////////////////////////////////  
///// UNIVERSAL BASIC RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//////////////////////////////////////  
///// BASE LAYOUT
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px,   10px/16px = 62.5

    @include media(tablet) {
        font-size: 55%;
    }

    @include media(mobile) {
        font-size: 62.5%;
    }
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem; //15px font size
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    @include media(mobile) {
        flex-direction: column;
        height: auto;
    }
}

//////////////////////////////////////  
///// CONTENT SECTION
.logo {
    height: 3.3rem;
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    width: 18rem;
    position: absolute;
    left: 17rem;
    top: 6.5rem;

    @include media(mobile) {
        left: 3.5rem;
        top: 3rem;
    }

    @include media(tablet) {
        height: 4rem;
        left: 10rem;
    }
}

.content {
    margin: 6.5rem 17rem;

    @include media(tablet) {
        margin: 6.5rem 4rem 0 10rem;
    }

    @include media(mobile) {
        margin: 0 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__heading {
        margin-top: 14rem;
        font-size: 6.5rem;
        text-transform: uppercase;
        letter-spacing: 2rem;
        line-height: 1.1;
        color: $color-neutral;

        @include media(mobile) {
            margin-top: 7rem;
            font-size: 4rem;
            letter-spacing: 1.5;
        }

        @include media(tablet) {
            font-size: 5rem;
        }

        span {
            display: block;
            color: $color-primary1;
            font-weight: 300;
        }
    }

    &__text {
        color: $color-primary1;
        font-weight: 400;
        margin-top: 2.5rem;
        width: 80%;
        line-height: 1.7;

        @include media(mobile) {
            margin: 2rem 0;
            font-size: 1.4rem;
            font-weight: 600;
            width: 100%;
        }

        @include media(tablet) {
            margin-right: 0;
            width: 100%;
        }
    }

    &__email {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-top: 4rem;

        @include media(mobile) {
            margin-top: 1.5rem;
        }

        @include media(tablet) {
            width: 90%;
        }

        &-input {
            position: relative;
            height: 5.5rem;
            outline: none;
            border-radius: 10rem;
            border: 1px solid $color-primary1;
            padding-left: 2.5rem;

            

            &:focus:invalid {
                border: 2px solid $color-primary2;

                & + img {
                    opacity: 1;
                }

                & ~ span {
                    opacity: 1;
                }
            }

            &::placeholder {
                color: $color-primary1;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 400;
            }
        }
        
        &-error-img {
            height: 2.4rem;
            width: 2.4rem;
            position: absolute;
            bottom: 4.25rem;
            right: 12rem;
            
            opacity: 0;
            transition: all .4s;
        }

        &-error-text {
            margin-top: 1rem;
            margin-left: 2.5rem;
            font-size: 1.4rem;
            color: $color-primary2;

            opacity: 0;
            transition: all .4s;
        }
    }
}

.btn {
    position: absolute;
    right: 0;
    width: 9rem;
    padding: 1.6rem;
    border: none;
    border-radius: 10rem;
    @include gradient1();
    box-shadow: 0 1.5rem 2rem rgba(238, 140, 140, .3);
    cursor: pointer;

    transition: all .2s;

    @include media(mobile) {
        width: 7rem;
    }

    @include media(tablet) {
        width: 9rem;
    }

    &:hover {
        @include gradient2();
    }

    &:active {
        transform: scale(1.1);
        box-shadow: 0 1.5rem 2rem rgba(238, 140, 140, .5);
    }
}

//////////////////////////////////////  
///// IMAGE SECTION
.hero {
    flex-basis: 70%;

    @include media(mobile) {
        margin-top: 9rem;
    }

    &__img {
        width: 100%;
        height: 100%; 
    }
}
