.heading-2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  line-height: 1.4;
}

.heading-3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
}

.paragraph-main {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

.paragraph-footer {
  font-size: 1.6rem;
}
