.download {
   text-align: center;
   padding: 1rem 0 12.5rem;

   &__buttons {
      padding: 4.5rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
   }
}
