.features {
   padding: 4rem 0;
   text-align: center;

   p {
      margin-bottom: 5rem;
   }

   &__box {
   }

   &__image {
      margin: 6rem auto;
      max-width: 40rem;

      & img {
      }
   }

   &__content {
   }

   &__content-item {
   }
}
