.supercharge {
   text-align: center;

   h2 {
      margin-bottom: 1rem;
   }

   &__box {
      :first-child {
         margin-top: 3.5rem;
      }

      @include media(medium) {
         display: flex;
         justify-content: center;
         gap: 3rem;
         margin-top: 7rem;

         :first-child {
            margin-top: 0;
         }
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media(medium) {
         width: 35rem;
      }
   }

   &__icon {
      display: flex;
      align-items: center;
      height: 5rem; // Sneak preview icon has the biggest height of 50px
      margin: 3.25rem 0;
   }
}
