 //////////////////////////////////////
///// COLOUR SCHEME
$clr-primary-100: hsl(7, 99%, 70%);
$clr-primary-200: hsl(51, 100%, 49%);
$clr-primary-300: hsl(167, 40%, 24%);
$clr-primary-400: hsl(198, 62%, 26%);
$clr-primary-500: hsl(168, 34%, 41%);
$clr-primary-600: hsl(167, 44%, 70%);

$clr-neutral-100: hsl(212, 27%, 19%);
$clr-neutral-200: hsl(213, 9%, 39%);
$clr-neutral-300: hsl(232, 10%, 55%);
$clr-neutral-400: hsl(210, 4%, 67%);
$clr-white: hsl(0, 0%, 100%);


//////////////////////////////////////
///// FONT FAMILIES
$ff-primary: "Barlow", sans-serif;
$ff-secondary: "Fraunces", sans-serif;