@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

//////////////////////////////////////  
///// COLOR SCHEME & MIXINS
$color-primary: hsl(223, 87%, 63%);

$color-secondary: hsl(223, 100%, 88%);
$color-secondary2: hsl(354, 100%, 66%);
$color-secondary3: hsl(135, 81%, 59%);

$color-neutral: hsl(0, 0%, 59%);
$color-neutral2: hsl(209, 33%, 12%);
$color-neutral3: hsl(220, 17%, 79%);


@mixin media($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 800px) { @content };
    }
}

//////////////////////////////////////  
///// UNIVERSAL BASIC RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//////////////////////////////////////  
///// BASE LAYOUT
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px,   10px/16px = 62.5
}

body {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

//////////////////////////////////////  
///// HEADER SECTION
.header {
    text-align: center;
    margin-top: 8.5rem;

    &__title {
        font-size: 4.5rem;
        font-weight: 300;
        color: $color-neutral;
        margin-top: 4rem;

        @include media(mobile) {
            font-size: 3rem;
        }

        &--bold {
            font-weight: 700;
            color: $color-neutral2;
        }
    }

    &__sub-title {
        font-size: 2rem;
        font-weight: 300;
        color: $color-neutral2;
        margin-top: 2rem;

        @include media(mobile) {
            font-size: 1.8rem;
        }
    }
}

//////////////////////////////////////  
///// EMAIL SECTION
.email {
    display: flex;
    margin-top: 3.5rem;

    @include media(mobile) {
        flex-direction: column;
    }

    &__control {
        
        input {
            height: 5rem;
            width: 40rem;
            border-radius: 10rem;
            border: 1px solid $color-secondary;
            padding-left: 2.5rem;
            outline: 0;
            font-size: 1.5rem;

            @include media(mobile) {
                width: 31rem;
            }

            &::placeholder {
                color: $color-neutral3;
            }
        }

        &.error input {
            border: 1px solid $color-secondary2;
        }

        &.success input {
            border: 1px solid $color-primary;
        }

        p {
            margin-left: 2.7rem;
            margin-top: .5rem;
            color: $color-secondary2;
            visibility: hidden;

            @include media(mobile) {
                text-align: center;
                margin-left: 0;
            }
        }

        &.error p {
            visibility: visible;
        }

        &.success p {
            visibility: visible;
            color: $color-primary;
        }
    }
}


//////////////////////////////////////  
///// BUTTON SECTION
.btn {
    height: 5rem;
    width: 19rem;
    margin-left: 2rem;
    border: none;
    border-radius: 10rem;
    box-shadow: 0 5px 10px hsla(223, 87%, 63%, 0.3);
    background-color: $color-primary;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;

    @include media(mobile) {
        width: 100%;
        margin: 1rem 0;
    }

    transition: all .3s;

    &:hover {
        background-color: hsl(223, 87%, 75%);
        box-shadow: 0 5px 10px hsla(223, 87%, 63%, 0.5);
        transform: scale(1.03);
    }

    &:active {
        box-shadow: 0 5px 10px hsla(223, 87%, 63%, 0.7);
        transform: translateZ(.5rem);
    }
}

//////////////////////////////////////  
///// ILLUSTRATION SECTION
.illustration {
    width: 65rem;
    margin-top: 7rem;

    @include media(mobile) {
        width: 34rem;
    }
}

//////////////////////////////////////  
///// SOCIALS SECTION
.socials { 
margin-top: 5rem;

    &__icons {
        height: 2.6rem;
        width: 2.6rem;
        border-radius: 50%;
        border: 1px solid $color-secondary;
        padding: .5rem;
        overflow: visible;
        fill: $color-primary;
        cursor: pointer;

        @include media(mobile) {
            height: 3.2rem;
            width: 3.2rem;
        }

        transition: all .3s;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        &:hover {
            fill: #fff;
            background-color: $color-primary;
        }
    }
}

//////////////////////////////////////  
///// FOOTER SECTION
.footer {
    margin: 2rem 0 1rem 0;
    text-align: center;
    font-size: 1.3rem;
    color: $color-neutral;
}