.hero {
   position: relative;
   padding: 5.5rem 0;
   border-bottom-left-radius: 10rem;
   background-image: url("../../images/bg-pattern-intro.svg"),
      linear-gradient(to right bottom, $clr-gradient-100, $clr-gradient-101);
   background-position: 35% 33.5%;
   background-size: 350%;

   @include media(small) {
      background-size: 200%;
   }

   @include media(large) {
      background-position: 25.5% 52.5%;
   }

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media(medium) {
         justify-content: flex-start;
         gap: 9rem;
         margin: 0 4rem;
      }

      @include media(large) {
         margin: 0 14rem;
      }

      &--logo {
         height: 3.2rem;

         @include media(medium) {
            height: 4rem;
         }
      }

      &--burger {
         width: 3.2rem;
         height: 3.2rem;
         background-image: url(../../images/icon-hamburger.svg);
         background-repeat: no-repeat;

         &-active {
            background-image: url(../../images/icon-close.svg);
         }

         @include media(medium) {
            display: none;
         }
      }
   }

   h1 {
      margin-top: 11rem;
      padding: 0 0.75rem;
   }

   p {
      margin-top: 1.5rem;
      margin-bottom: 4.5rem;
   }

   &__buttons {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-bottom: 10rem;
   }
}
