.nav {
   position: absolute;
   top: 12.5rem;
   right: 2.5rem;
   background-color: $clr-white;
   width: 32.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem 0;
   border-radius: 1rem;
   box-shadow: 0 1rem 2rem 0.7rem rgba(0, 0, 0, 0.25);

   display: none;

   @include media(medium) {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      top: 0;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      width: 100%;
   }

   hr {
      width: 80%;
      margin: 0 auto;
      height: 0.15rem;
      border: none;
      background-color: hsla(240, 3%, 79%, 0.5);

      @include media(medium) {
         display: none;
      }
   }

   &--active {
      display: block;
   }

   &-container {
      margin: 2.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media(medium) {
         margin: 0;
         margin-right: 3rem;
      }
   }
   &-toggle {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 2.25rem;
      color: $clr-primary-200;
      font-weight: 500;
      font-family: $ff-secondary;

      @include media(medium) {
         font-size: 1.7rem;
         color: $clr-white;
         cursor: pointer;
      }
   }
}

.dropdown-menu {
   display: none;
   background-color: hsla(240, 3%, 79%, 0.5);
   margin-top: 1.75rem;
   border-radius: 1rem;
   opacity: 0.88;

   @include media(medium) {
      position: absolute;
      width: 17rem;
      margin-left: 5rem;
      margin-top: 4rem;
      background-color: $clr-white;
      opacity: 1;
      box-shadow: 0 1rem 2rem 0.7rem rgba(0, 0, 0, 0.25);
      border-radius: 0.5rem;
   }

   ul {
      list-style: none;
      padding: 1rem 9rem;

      @include media(medium) {
         padding: 1rem 2rem;
      }
   }
   li {
      margin: 1.5rem 0;
      text-align: center;

      @include media(medium) {
         text-align: left;
      }
   }
   a {
      font-size: 1.7rem;
      color: $clr-primary-200;
      text-decoration: none;
      font-weight: 500;
      font-family: $ff-secondary;
   }

   a:hover {
      font-weight: 900;
      cursor: pointer;
   }
}

.dropdown-open {
   .dropdown-menu.dropdown-active {
      display: block;
   }
}

.nav-container.dropdown-open {
   .nav-toggle {
      opacity: 0.88;
      img {
         transform: rotate(180deg);
         transition: all 0.25s;
      }

      @include media(medium) {
         opacity: 1;
         text-decoration: underline;
         text-decoration-thickness: 0.25rem;
      }
   }
}

.nav-buttonbox {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
   gap: 2rem;

   @include media(medium) {
      flex-direction: row;
      margin-top: 0;
      margin-left: auto;
   }

   a {
      text-decoration: none;
      font-family: $ff-secondary;
      font-size: 2.25rem;
      font-weight: 500;
      color: $clr-primary-200;
      cursor: pointer;

      @include media(medium) {
         font-size: 1.7rem;
         color: $clr-white;
      }
   }

   button {
      border: none;
      background-image: linear-gradient(
         to right,
         $clr-gradient-100,
         $clr-gradient-101
      );
      font-size: 2.25rem;
      color: $clr-white;
      font-family: $ff-secondary;
      font-weight: 700;
      padding: 1.5rem 0;
      border-radius: 10rem;
      width: 14rem;
      cursor: pointer;

      transition: all 0.25s;

      @include media(medium) {
         font-size: 1.7rem;
         background-image: none;
         background-color: $clr-white;
         color: $clr-primary-100;

         &:hover,
         &:active {
            background-color: $clr-primary-101;
            color: $clr-white;
         }
      }
   }
}

.nav-img {
   &--dark {
      display: block;
      @include media(medium) {
         display: none;
      }
   }
   &--light {
      display: none;
      @include media(medium) {
         display: block;
      }
   }
}
