.nav {
   position: absolute;
   top: 12.5rem;
   right: 2.5rem;
   background-color: $clr-white;
   width: 32.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2.5rem 0;
   display: none;

   &--active {
      display: block;
   }

   &-container {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &-toggle {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 2.25rem;
      color: $clr-primary-200;
      font-weight: 700;
   }
}

.dropdown-menu {
   display: none;
   background-color: hsla(240, 3%, 79%, 0.5);

   ul {
      list-style: none;
      padding: 1rem 9rem;
   }
   li {
      margin: 1rem 0;
   }
   a {
      font-size: 1.7rem;
      color: $clr-primary-200;
      text-decoration: none;
      font-weight: 700;
   }
}

.dropdown-open {
   .dropdown-menu.dropdown-active {
      display: block;
      opacity: 0.8;
   }
}

.nav-container.dropdown-open {
   .nav-toggle {
      opacity: 0.8;
      transition: all 0.25s;
      img {
         transform: rotate(180deg);
         transition: all 0.25s;
      }
   }
}
