//////////////////////////////////////
///// UNIVERSAL BASIC RESET
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

//////////////////////////////////////
///// BASE LAYOUT
html {
   box-sizing: border-box;
   font-size: 62.5%; // 1rem = 10px,   10px/16px = 62.5
   scroll-behavior: smooth;
}

body {
   font-family: $ff-primary;
   font-size: 1.6rem; // ### Body Copy - Font size: 16px
   min-height: 100vh;
}

//////////////////////////////////////
///// SMALL FIXES
// Remove list styles on ul & ol elements with a list role
ul[role="list"],
ol[role="list"] {
   list-style: none;
}

// Make images easier to work with
img,
picture {
   display: block;
   max-width: 100%;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
   font: inherit;
}
