//////////////////////////////////////
///// HEADING STYLING
%heading {
   font-family: $ff-primary;
   font-weight: 600;
   text-align: center;
}

.heading-1 {
   @extend %heading;
   color: $clr-white;
   font-size: 3.4rem;

   @include media(small) {
      font-size: 4.2rem;
   }

   @include media(medium) {
      font-size: 5.35rem;
   }

   @include media(large) {
      font-size: 6.5rem;
   }
}

.heading-2 {
   @extend %heading;
   color: $clr-white;
   font-size: 4rem;

   @include media(large) {
      text-align: left;
   }

   &--dark {
      color: $clr-primary-200;
      font-size: 3rem;
      text-align: center;

      @include media(medium) {
         font-size: 4rem;
      }
   }
}

.heading-3 {
   @extend %heading;
   color: $clr-primary-200;
   font-size: 2.8rem;

   @include media(small) {
      text-align: left;
      font-size: 2.4rem;
   }

   @include media(medium) {
      font-size: 2.9rem;
   }
}

//////////////////////////////////////
///// PARAGRAPH STYLING
%text {
   font-family: $ff-primary;
   font-weight: 300;
   text-align: center;
}

.text-1 {
   @extend %text;
   color: $clr-white;
   font-size: 1.9rem;

   @include media(medium) {
      font-size: 2.05rem;
   }

   @include media(large) {
      font-size: 2.2rem;
   }
}

.text-2 {
   @extend %text;
   color: $clr-neutral-200;
   line-height: 1.8;

   @include media(small) {
      text-align: left;
   }
}

.text-3 {
   @extend %text;
   color: $clr-white;
   line-height: 1.8;

   @include media(large) {
      text-align: left;
   }
}
