//////////////////////////////////////
///// COLOUR SCHEME
$clr-primary-100: hsl(171, 66%, 44%);
$clr-primary-101: hsl(171, 60%, 34%);
$clr-primary-200: hsl(233, 100%, 69%);
$clr-primary-201: hsl(233, 50%, 50%);

$clr-neutral-100: hsl(201, 11%, 66%);
$clr-neutral-101: hsl(201, 11%, 95%);
$clr-neutral-200: hsl(210, 10%, 33%);

//////////////////////////////////////
///// FONT FAMILIES
$ff-body: "Bai Jamjuree", sans-serif;
