// Colours
$primary-purple: hsl(259, 100%, 65%);
$primary-red: hsl(0, 100%, 67%);
$white: hsl(0, 100%, 100%);
$grey-100: hsl(0, 0%, 94%);
$grey-200: hsl(0, 0%, 86%);
$grey-500: hsl(0, 1%, 44%);
$black: hsl(0, 0%, 0%);

// Layout
$container-max: 1440px;

// Typography
$font-primary:
   "Poppins",
   system-ui,
   -apple-system,
   Segoe UI,
   Roboto,
   Arial,
   sans-serif;

// Breakpoints
$breakpoints: (
   "mobile": 23.4375em,
   // 375px
   "tablet": 48em,
   // 768px
   "desktop": 90em,
   // 1440px
   "wide": 119em, // 1904px
);
