.testimonials {
   padding: 6.5rem 2rem;
   text-align: center;

   @include media(large) {
      padding: 16rem 0;
   }
}

.testimonial {
   @include media(medium) {
      display: flex;
      gap: 4rem;
      justify-content: center;
      margin-top: 1.5rem;
   }
}

.testimonial-item {
   margin-top: 6.5rem;
   display: flex;
   flex-direction: column;

   @include media(large) {
      width: 26%;
   }

   &__user-photo {
      border-radius: 50%;
      width: 7rem;
      height: 7rem;
      margin: 0 auto 3.5rem;

      @include media(large) {
         margin: 0 auto 6rem;
      }
   }

   &__user-name {
      font-family: $ff-secondary;
      color: $clr-neutral-100;
      font-size: 2rem;
      font-weight: 900;
      margin-top: 3.5rem;

      @include media(large) {
         font-size: 1.8rem;
         margin-top: 6.5rem;
      }
   }

   &__user-title {
      color: $clr-neutral-400;
      font-size: 1.4rem;
      margin-top: 1rem;
   }
}
