.banner {
   background-image: url("../images/bg-pattern-circles.svg"),
      linear-gradient(to right bottom, $clr-gradient-200, $clr-gradient-201);
   background-size: cover;
   background-position: center 100%;
   background-repeat: no-repeat;

   border-top-right-radius: 10rem;
   border-bottom-left-radius: 10rem;
   position: relative;
   padding: 22rem 0 10rem;
   margin-top: 16rem;

   @include media(large) {
      padding: 12.5rem 0;
   }

   &__img {
      grid-column: 1 / -1;

      position: absolute;
      top: -18rem;
      max-width: 40rem;

      left: 0;
      right: 0;
      margin: 0 auto;

      @include media(large) {
         margin: 0;
         left: 5rem;
         top: -6.75rem;
         max-width: 55.2rem;
      }
   }

   &__content {
      @include media(large) {
         width: 50%;
         margin-left: auto;
         margin-right: 5rem;
         padding-right: 10rem;
      }

      h2 {
         margin-bottom: 2rem;
      }
   }
}
