%button {
   display: block;
   border: none;
   min-width: 14rem;
   padding: 1.5rem;
   border-radius: 5rem;
   font-family: $ff-secondary;
   font-weight: 700;
   font-size: 1.7rem;
   cursor: pointer;

   transition: all 0.25s;
}

.btn-white {
   @extend %button;
   color: $clr-primary-100;
   background-color: $clr-white;

   &:hover {
      color: $clr-white;
      background-color: $clr-primary-101;
   }
}

.btn-outline {
   @extend %button;
   color: $clr-white;
   background-color: transparent;
   border: 1px solid white;

   &:hover {
      color: $clr-primary-100;
      background-color: $clr-white;
   }
}
