//////////////////////////////////////
///// COLOUR SCHEME
$clr-primary-100: hsl(356, 100%, 66%);
$clr-primary-101: hsl(355, 100%, 74%);
$clr-primary-200: hsl(208, 49%, 24%);

$clr-neutral-100: hsl(240, 2%, 79%);
$clr-neutral-201: hsl(207, 13%, 34%);
$clr-neutral-300: hsl(240, 10%, 16%);

$clr-gradient-100: hsl(13, 100%, 72%);
$clr-gradient-101: hsl(353, 100%, 62%);
$clr-gradient-200: hsl(237, 17%, 21%);
$clr-gradient-201: hsl(237, 23%, 32%);

$clr-white: hsl(0, 0%, 100%);

//////////////////////////////////////
///// FONT FAMILIES
$ff-primary: "Overpass", sans-serif;
$ff-secondary: "Ubuntu", sans-serif;
